body {
    width: 100%;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    background: url('../public/formula1.png') no-repeat fixed;
    background-position: top;
    background-size: cover;
}

/* Navegation Bar */

.topnav {
    background-color: #121212;
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topnav img {
    max-width: 100px;
    max-height: 40px;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Links */
.logo {
    margin-left: 40px;
}

.menu-list a {
    width: 100px;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s ease-in-out;
}

/* hover */
.menu-list a:hover {
    background-color: rgb(232, 9, 9);
    font-weight: bold;
    font-style: oblique;
}


/* information tables */

.content-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 40px;
}

.teams, .drivers {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teams h2, .drivers h2 {
    width: 100%;
    background: black;
    padding: 20px 0;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
    background-color: #fff;
}

th {
    background-color: #faef55;
}

/* login */

#login {
    background-color: #fff;
    padding: 40px;
    margin-top: 50px;
}

#login div {
    margin-bottom: 10px;
}

/* buttons */

.btn {
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px;
    display: block;
    width: 100px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    background-color: darkgreen;
}

.btnAll {
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 10px;
    display: block;
    width: 100px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.5s ease-in-out;
}

.btnAll:hover {
    background-color: darkgray;
}

.btnList {
    background-color: #c8bb11;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    width: 150px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 5px;
}

.btnDrivers {
    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    width: 150px;
    border-radius: 6px;
    text-align: center;
    margin: 5px 0;
}

/* admin */

.content-box {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content-box h2 {
    color: white;
    text-align: center;
}

.addTeam, .editTeam, .deleteTeam, .addDriver, .editDriver, .deleteDriver {
    height: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addTeam h2, .editTeam h2, .deleteTeam  h2, .addDriver  h1, .editDriver  h1, .deleteDriver h1{
    background-color: black;
    color: white;
    padding: 20px 40px;
}

form {
    background-color: white;
    padding: 40px;
}